@charset "utf-8";
html {
    height:100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background:#fff;
    color:#000;
}
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form, pre, blockquote, figure {
    margin: 0;
}
body {
	width: 100%;
	overflow-x: hidden;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
th, td {
    padding: 0;
}
ul, ol, menu, input, button {
    margin: 0;
    padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
audio, canvas, video {
    display: inline-block;
*display:inline;
*zoom:1;
}
body, button, input, select, textarea {
    color: #000;
    font: 12px/1.5 -apple-system-font,Helvetica Neue,Helvetica,sans-serif;
}
input, select, textarea {
    font-size: 100%;
}
input, select {
    vertical-align: baseline;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    text-align: inherit;
}
fieldset, img {
    border: 0;
}
img{ vertical-align:middle;}
iframe {
    display: block;
}
abbr, acronym {
    border: 0;
    font-variant: normal;
}
del {
    text-decoration: line-through;
}
address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 400;
}
ol, ul {
    list-style: none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
q:before, q:after {
    content: '';
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
ins, a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.clearfix:before, .clearfix:after {
    display: table;
    line-height: 0;
    content: '';
    
}
.clearfix:after {
    clear: both;
}
.clearfix {
*zoom:1;
}
div.clear {
    clear: both;
    height: 0;
    font-size: 0;
    overflow: hidden;
}
.clear{ clear:both;}
area {
    outline: none;
}
.fl{ float:left;}
.fr{ float:right}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  line-height: 1.6;
  position: relative;
}