@charset "utf-8";
/*login*/
.login-wrapper {
    padding-top: 95px;
    background-image: url(imgs/login-bg.png);
    background-position: center top;
    background-repeat: no-repeat;
}
.loginBox {
    width: 450px;
    margin: 0 auto;
}
.login-content {
    height: 313px;
    padding: 30px 75px 0;
    background-color: #fff;
}
.login-tit h1,
.login-tit p {
    float: left;
}
.login-tit h1 {
    color: #333;
    font-size: 24px;
    line-height: 35px;
}
.login-tit p {
    position: relative;
    margin-top: 15px;
    padding-left: 30px;
    font-size: 14px;
    color: #d5d5d5;
    text-transform: Uppercase;
    line-height: 18px;
}
.login-tit p:before {
    content: "";
    position: absolute;
    left: 17px;
    top: 3px;
    width: 10px;
    height: 12px;
    border-left: 1px solid #d5d5d5;
}
.login-main .form-control {
    height: 42px;
    padding-left: 50px;
}
.login-main .iconfont {
    top: 10px;
    left: 0;
    width: 40px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    color: #ccc;
    border-right: 1px solid #e2e2e2;
}
.login-error {
    height: 25px;
    line-height: 25px;
}
.login-auto {
    padding: 12px 0;
}
.login-auto label,
.login-auto .password-recover {
    font-weight: bold;
    color: #999;
}
.login-auto label input[type="checkbox"] {
    margin-top: 3px;
}
.login-submit {
    height: 42px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background-color: #df3f28;
    border-width: 0 0 3px 0;
    border-color: #c83924;
    border-style: solid;
}
.login-submit:hover,
.login-submit:focus {
    color: #fff;
    background-color: #e2523d;
    border-width: 0 0 3px 0;
    border-color: #cd4c39;
}
.loginFooter {
    padding-top: 30px;
    line-height: 28px;
    color: #999;
}
/*index chart*/
.chartBox {
    border: 1px solid #e9e9e9;
    overflow: hidden;
    padding: 20px;
}
.chart {
    height: 100%;
    text-align: center;
}
.chartTit h1 {
    color: #df3f28;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.item-chart2 .chart {
    height: calc(100% - 50px);
    overflow: hidden;
}
.chart img {
    width: 100%;
    height: 100%;
}
/*Fire Data Trend*/
.trendBox {
    padding: 20px;
    border: 1px solid #e9e9e9;
    overflow: hidden;
}
.trendBox .filterBox {
    width: 70%;
}
.trendBox .chart {
    height: 400px;
}
.error_page{  margin:0 auto; margin-top:200px;width:580px;}
.error_main_img{}
.error_main_tx{ width:475px; font-size:14px;}
.error_main_tx h1{ font-weight:bold; font-size:90px; color:#455084; line-height:80px; }

.error_main_tx p{ font-size:30px; color:#989898; font-weight:bold;}

.row-sm-margin .col-xs-1, .row-sm-margin .col-xs-2, .row-sm-margin .col-xs-3, .row-sm-margin .col-xs-4, .row-sm-margin .col-xs-5, .row-sm-margin .col-xs-6, .row-sm-margin .col-xs-7, .row-sm-margin .col-xs-8, .row-sm-margin .col-xs-9, .row-sm-margin .col-xs-10, .row-sm-margin .col-xs-11, .row-sm-margin .col-xs-12, .row-sm-margin .col-xs-fifth {
    padding-left: 10px;
    padding-right: 10px;
}
.col-xs-4{
	float: left;
	width:33.33333333%;
	}
.main-content .section .title .filterBox {
	width: 65%;
}
.main-content .section .chartItem .title .filterBox {
	width: 200px;
	margin-left: 20px
}
.main-content .section .title .filterBox .btn  {
	margin-left: 10px;
}
.searchBox {
	padding: 5px 15px 15px;
	border: 1px solid #e9e9e9;
	overflow: hidden;
}
.filter-hidden {
	display: none;
}
.search-btn {
	text-align: center;
	margin-top: 15px
	}
.search-btn-tc {
	position: relative;
	display: inline-block;
}
.search-btn .btn {
	margin: 0 8px;
	padding: 0 19px;
}
.filter-more {
	position: absolute;
	right: -60px;
	top: 0;
	width: 50px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
}
.filter-more:hover {
	
}
.filter-more:before {
	content: "更多";
}
.filter-more.checked:before {
	content: "收起";
}
.filter-more .arrow:before {
	font-family:"iconfont" !important;
	font-size:16px;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e620";
}
.filter-more.checked .arrow:before {
	content: "\e727";
}
.searchBox .col-xs-fifth,
.searchBox .col-xs-1,
.searchBox .col-xs-2,
.searchBox .col-xs-3,
.searchBox .col-xs-4,
.searchBox .col-xs-5,
.searchBox .col-xs-6,
.searchBox .col-xs-7,
.searchBox .col-xs-8,
.searchBox .col-xs-9,
.searchBox .col-xs-10,
.searchBox .col-xs-11,
.searchBox .col-xs-12 {
	margin-top: 10px;
}
.filterTit {
	line-height: 30px;
	padding-right: 5px;
    text-align: right;
}
.filterTit,
.filterType .form-control {
	font-size: 13px;
	color: #8e8e8e;
}
.searchBox .filterTit {
	min-width: 70px;
}
.textbox {
	border: 1px solid #e5e5e5;
}
.filterType .textbox {
	width:100%!important;
	height: 30px;
	border-radius: 0;
	margin-right: 0;
}
.filterType .textbox .textbox-icon {
	height: 28px!important;
