@charset "utf-8";
/*login*/
.login-wrapper {
	padding-top: 85px;
	background-image: url(imgs/login-bg.png);
	background-position: center top;
	background-repeat: no-repeat;
}
.loginBox {
	width: 450px;
	margin: 0 auto;
}
.login-content {
	height: 313px;
	padding: 30px 75px 0;
	background-color: #fff;
}
.login-tit h1,
.login-tit p {
	float: left;
}
.login-tit h1 {
	color: #333;
	font-size: 24px;
	line-height: 35px;
}
.login-tit p {
	position: relative;
	margin-top: 15px;
	padding-left: 30px;
	font-size: 14px;
	color: #d5d5d5;
	text-transform: Uppercase;
	line-height: 18px;
}
.login-tit p:before {
	content: "";
	position: absolute;
	left: 17px;
	top: 3px;
	width: 10px;
	height: 12px;
	border-left: 1px solid #d5d5d5;
}
.login-main .form-control {
	height: 42px;
	padding-left: 50px;
}
.login-main .iconfont {
	top: 10px;
	left: 0;
	width: 40px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	color: #ccc;
	border-right: 1px solid #e2e2e2;
}
.login-error {
	height: 25px;
	line-height: 25px;
}
.login-auto {
	padding: 12px 0;
}
.login-auto label,
.login-auto .password-recover {
	font-weight: bold;
	color: #999;
}
.login-auto label input[type="checkbox"] {
    margin-top: 3px;
}
.login-submit {
	height: 42px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	background-color: #df3f28;
	border-width: 0 0 3px 0;
	border-color: #c83924;
	border-style: solid;
}
.login-submit:hover,
.login-submit:focus {
	color: #fff;
	background-color: #e2523d;
	border-width: 0 0 3px 0;
	border-color: #cd4c39;
}
.loginFooter {
	padding-top: 50px;
	line-height: 28px;
	color: #999;
}
/*index chart*/
.chartBox {
	border: 1px solid #e9e9e9;
	height: calc(100% - 140px);
    overflow: hidden;
    padding: 20px;
}
.chart {
	height: 100%;
	text-align: center;
}
.item-chart2 .chart {
	height: calc(100% - 50px);
    overflow: hidden;
}
.chart img {
	width: 100%;
	height: 100%;
}
/*Fire Data Trend*/
.trendBox {
	padding: 20px;
	border: 1px solid #e9e9e9;
	overflow: hidden;
}
.trendBox .filterBox {
	width: 70%;
}
.trendBox .chart {
	height: 400px;
}
.error_page{  margin:0 auto; margin-top:200px;width:580px;}
.error_main_img{}
.error_main_tx{ width:475px; font-size:14px;}
.error_main_tx h1{ font-weight:bold; font-size:90px; color:#455084; line-height:80px; }

.error_main_tx p{ font-size:30px; color:#989898; font-weight:bold;}