<!DOCTYPE html>
<html>
<head lang="en">
<!--/*/ <th:block th:include="template/exceptiontemplate :: head"></th:block> /*/-->
<title>页面不存在</title>

</head>
<body>

    <div id="wrapper fixed-sidebar">
        <!--/*/ <th:block th:include="template/exceptiontemplate :: bodypart"></th:block> /*/-->
        <div class="content-wrapper">
            <ol class="breadcrumb">
                <li><i class="iconfont icon-map mr10 fl"></i>当前位置：<a
                    th:href="@{/main}">首页</a></li><li class="active">页面不存在</li>
            </ol>
            <div class="main-content animated fadeInRight">
                <div class="content">
                    <!-- Content Start-->
                    <div class="error_page">
                        <div class="error_main">
                            <div class="error_main_img fl">
                                <img th:src="@{/imgs/404.png}" width="85" height="144">
                            </div>
                            <div class="error_main_tx fr">
                                <h1>404</h1>
                                <p>不好意思，页面走丢了!!!</p>请尝试刷新或报告管理员！
                            </div>
                        </div>
                    </div>
                    <!-- Content End -->
                </div>
            </div>
        </div>
    </div>
    <!--/*/ <th:block th:include="template/exceptiontemplate :: footerpart"></th:block> /*/-->
</body>
</html>