<!DOCTYPE html>
<html>
<head lang="en">
<!--/*/ <th:block th:include="template/template :: head"></th:block> /*/-->
<title>请求超时</title>

</head>
<body>

    <div id="wrapper fixed-sidebar">
        <!--/*/ <th:block th:include="template/template :: bodypart"></th:block> /*/-->
        <div class="content-wrapper">
            <ol class="breadcrumb">
            <li><i class="iconfont icon-map mr10 fl"></i>当前位置：<a href="main">首页</a></li>
            <li class="active">请求超时</li>
        </ol>
        <section class="main-content animated fadeInRight">
            <div class="content">
            <!-- Content Start-->
                <div class="error_page">
                 <div class="error_main">
                  <div class="error_main_img fl"><img src="imgs/404.png" width="85" height="144"></div>
                 <div class="error_main_tx fr"><h1>505</h1>
                 <p>页面请求连接超时！！</p>请尝试刷新或报告管理员！
                </div>
                 </div>
              </div>
            <!-- Content End -->
            </div>
        </section>
        </div>
    </div>
    <!--/*/ <th:block th:include="template/template :: footerpart"></th:block> /*/-->
</body>
</html>